@import "theme.rasi"
window { width: 22%; padding: 12px; }
mainbox { children: [ listview ]; }
inputbar { enabled: false; }
listview { lines: 4; fixed-height: false; spacing: 6px; }
element { children: [ element-icon, element-text ]; spacing: 14px; padding: 14px; }
element-icon { size: 1.4em; }
element-text { vertical-align: 0.5; }
