* {
    font: "Monospace 11";
    background-color: #191D22;
    text-color: #E6E7E8;

    accent: #FF6266;
    edge: #39414D;
    muted: #7E8995;
}

window {
    width: 480px;
    height: 170px;
    location: center;
    anchor: center;
    border: 1px;
    border-color: @accent;
    border-radius: 8px;
    padding: 18px;
}

mainbox {
    orientation: vertical;
    children: [ inputbar, message, listview ];
    spacing: 12px;
}

inputbar {
    orientation: vertical;
    children: [ prompt, entry ];
    spacing: 12px;
    expand: false;
}

prompt {
    text-color: @accent;
}

entry {
    placeholder: "Target IP";
    placeholder-color: @muted;
    text-color: #E6E7E8;
    padding: 10px;
    border: 1px;
    border-color: @edge;
    border-radius: 5px;
}

message {
    expand: false;
    padding: 0px;
    border: 0px;
}

textbox {
    text-color: @muted;
}

listview {
    lines: 0;
    fixed-height: false;
    expand: false;
    border: 0px;
    padding: 0px;
    spacing: 0px;
}
