@import "config.rasi"

window {
    width: 1120px;
    border: 1px;
    border-color: #343b43;
    border-radius: 12px;
    padding: 0px;
}
mainbox {
    children: [ listview, message ];
    spacing: 0px;
    padding: 16px 18px 12px;
}
inputbar {
    enabled: false;
}
listview {
    columns: 1;
    lines: 5;
    spacing: 14px;
    padding: 0px;
    scrollbar: false;
    layout: horizontal;
    fixed-height: true;
    dynamic: false;
    cycle: false;
}
element {
    children: [ element-icon ];
    orientation: vertical;
    padding: 6px;
    spacing: 0px;
    border: 2px;
    border-color: transparent;
    border-radius: 8px;
    background-color: #242a2e;
}
element normal.normal {
    background-color: #242a2e;
    border-color: transparent;
}
element selected.normal {
    background-color: #302427;
    border-color: #ff6266;
    border-radius: 8px;
}
element-icon {
    size: 190px;
    squared: false;
    expand: false;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
}
element-text {
    enabled: false;
}
message {
    padding: 12px 0px 0px;
    background-color: transparent;
}
textbox {
    font: "Sans 8";
    horizontal-align: 1.0;
    text-color: @fg-dim;
    padding: 0px;
    background-color: transparent;
}
