@import "theme.rasi"
window { width: 20%; padding: 12px; }
mainbox { children: [ message, listview ]; }
inputbar { enabled: false; }
listview { lines: 5; fixed-height: false; }
element { padding: 12px; }
