@import "theme.rasi"
window {
    width: 26%;
    border-color: @accent;
    padding: 16px;
}
mainbox {
    children: [ inputbar, message ];
    spacing: 10px;
}
inputbar {
    children: [ prompt, entry ];
    spacing: 8px;
}
prompt {
    text-color: @accent;
}
entry {
    placeholder: "IPv4 / IPv6";
    placeholder-color: @muted;
}
message {
    text-color: @muted;
    padding: 4px;
}
